@model SupermercadoServices.Models.Proveedor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Proveedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefonos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefonos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cbu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cbu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CondicionIva)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CondicionIva)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Localidad.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Eliminado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Eliminado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
